html
{
    scroll-behavior: smooth;
    font-family: sans-serif;
    color: white;
}

body
{
    background-color: #2F3640;
    margin: 0;
}

#sidenav
{
    width: 150px;
    height: 100%;
    position: fixed;
    background-color: #1B1A1A;
}

#sidenav h1
{
    font-size: 24px;
    height: 10%;
    text-align: right;
    margin: 0;
    transform: rotate(-45deg);
}

#sidenav nav
{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav-button
{
    text-decoration: none;
    color: white;
    font-size: 24px;
    width: 100%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    transition-duration: .1s;
}

.nav-button:hover 
{
    text-decoration: none;
    color: black;
    background-color: white;
}

.icon {
    width: 1em;
    height: 1em;
    margin-right: 8px
}

#settings-button
{
    text-decoration: none;
    color: white;
    font-size: 24px;
    width: 100%;
    text-align: center;
    transition-duration: .1s;
    padding: .5em 1em;
    
    background-color: rgb(30,144,255);
    border-radius: 24px;
}

main
{
    margin-left: 150px;
}

.banner
{
    height: 415px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.banner img {
    height: 100%;
    object-fit: cover;
}

#banner-image-1 {
    position: absolute;
}

#banner-image-2 {
    position: absolute;
    right: 0;
}

#banner-main {
    height: 100%;
    width: 750px;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    background: 
    linear-gradient(#00000050 50%, #000000FF), 
    url("images/games/street_fighter_5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .2s;
    
    box-shadow: black 2px 2px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
}

#banner-main > * {
    margin: 0 32px;
}

#popular-game-name {
    margin-bottom: 32px;
    font-weight: 300;
}

.banner > * {
    box-shadow: black 2px 2px 10px;
    
    background: 
    linear-gradient(#00000050 50%, #000000FF);

    border-radius: 12px;
}

.banner > *:hover
{
    box-shadow: black 4px 4px 10px;
}

#tournament-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 24px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.tournament
{
    width: 350px;
    margin: 0;
    color: rgba(255, 255, 255, .5);
    box-shadow: black 4px 4px 5px;
    transition-duration: .2s;
    font-weight: lighter;
    border-radius: 12px;
}

.tournament:hover
{
    box-shadow: black 4px 4px 10px;
}

.tournament-body
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.tournament-header
{
    height: 150px;
    background-image: url("images/games/street_fighter_5.jpg");
    background-size: cover;
    background-position: center top;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.tournament-group
{
    width: 40%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 10px;
}

.tournament-group h1
{
    margin: 0;
    height: 1rem;
    white-space: nowrap;
}

.tournament-group p
{
    margin: 0;
}

.divider
{
    width: 100%;
    height: 10px;
    background-color: black;
}

.tournament-game-name
{
    font-size: 1.4rem;
    font-weight: 500;
}

.tournament-prize-label
{
    text-align: right;
}

.tournament-prize-value
{
    color: forestgreen;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 500;
}

.tournament-join-button
{
    color: black;
    background: linear-gradient(rgba(87, 255, 94, 0.34), rgba(87, 255, 94, 1));
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition-duration: .2s;
    align-self: center;
}

.tournament-join-button:hover
{
    color: rgba(87, 255, 94, 1);
    border-width: 2px;
    /* border-color: rgba(87, 255, 94, 1); */
    border-style: solid;
    background: linear-gradient(rgba(87, 255, 94, 0.34), rgba(87, 255, 94, 1));
    cursor: pointer;
}

.tournament-players
{
    text-align: center;
}

#host-form
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 800px;
    margin: auto;
    padding: 10px;
    box-shadow: black 1px 1px 3px;
    background: linear-gradient(rgba(74, 86, 102, 0), rgba(74, 86, 102, 1));
}

#host-form:hover
{
    box-shadow: black 4px 4px 10px;
}

#host-form h1
{
    text-align: center;
    font-size: 48px;
    color: rgba(140, 153, 169 1);
    text-shadow: black 2px 2px 10px;
}

#form-inputs
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#form-inputs div
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    margin-right: 0;
    margin: 20px;
    padding: 5px;
}

#host-form div label
{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 100;
}

#host-form div input, select
{
    border-radius: 0;
    border: none;
    padding: 5px;
    border-radius: 10px;
    height: 34px;
    font-size: 20px;
    box-shadow: black 2px 2px 5px;
}

#host-form div select
{
    padding: 5px; 
}

#host-submit 
{
    color: black;
    background: linear-gradient(rgba(87, 255, 94, 0.34), rgba(87, 255, 94, 1));
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 2px;
    font-size: 20px;
    transition-duration: .2s;
    align-self: center;
}

#host-submit:hover
{
    color: rgba(87, 255, 94, 1);
    border-width: 2px;
    border-color: rgba(87, 255, 94, 1);
    border-style: solid;
    background: linear-gradient(rgba(87, 255, 94, 1), black);
}